.projects-section {
    background: #2d2e32;
    padding: 80px 50px;

    .container {
        width: 80%;
        margin: 0 auto;

        @media screen and(max-width:780px) {
            width: 90%;
        }

        h1 {
            text-align: center;
        }

        .projects {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .project {
                width: 25%;
                background: #25262a;
                cursor: pointer;


                @media screen and(max-width:1080px) {
                    width: 40%;
                }


                @media screen and(max-width:640px) {
                    width: 80%;
                }

                .thumbnail {
                    margin: 0 auto;
                    width: 100%;
                    height: 250px;
                }
            }
            #project1 {
                background: url("../../assets/socialThumbnail.png")
                    no-repeat;
                background-position: center center;
                background-size: cover;
            }
            #project2 {
                background: url("../../assets/ecommerceThumbnail.png") no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
    }
}
