.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .social-link {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .social-icon {
            width: 20px;
            height: 20px;
            margin: 10px;
        }
    }
}
