.card {
	margin: 10px 0;
	padding: 20px;
	background: #2c2d31;
	border-radius: 5px;
	min-height: 100px;
	position: relative;
	transition: all 0.2s ease-in;

	&:hover {
		z-index: 999;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.037),
			0 6.7px 5.3px rgba(0, 0, 0, 0.053),
			0 12.5px 10px rgba(0, 0, 0, 0.065),
			0 22.3px 17.9px rgba(0, 0, 0, 0.077),
			0 41.8px 33.4px rgba(0, 0, 0, 0.093),
			0 100px 80px rgba(0, 0, 0, 0.13);
	}

	.card_header {
		font-size: 30px;
		color: #fff;
	}

	.card_content {
		color: #b1b1b1;
	}
}
