.nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 40%;

    @media screen and(max-width:1200px) {
        justify-content: center;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin: 0;

        li {
            transition: all 0.15s ease-in;

            a {
                padding: 30px 10px;
                display:block;
                color:#fff;
                text-decoration:none;

                &:hover {
                    background: red;
                }
            }
        }
    }
}
